<?xml version="1.0" encoding="UTF-8" ?>
<!--<configuration scan="false" scanPeriod="60 seconds" debug="false">-->
<configuration>
    <property name="HOME_PATH" value="/javaProject/pirate-utils/log" scope="CONTEXT"/>
    <property name="DEFAULT_PATTERN" value="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger - %msg%n" scope="CONTEXT"/>
    <property name="MAX_HISTORY" value="14" scope="CONTEXT"/>

    <springProfile name="dev">
        <!-- 测试环境日志级别 -->
        <property name="loggerLevel" value="ERROR"/>
        <appender name="logstach" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>120.78.142.22:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"env":"dev"}</customFields>
            </encoder>
            <keepAliveDuration>15 minutes</keepAliveDuration>
        </appender>
    </springProfile>

    <logger name="test" level="${loggerLevel}" additivity="false">
        <appender-ref ref="logstach" />
    </logger>

    <root level="${loggerLevel}">
        <appender-ref ref="logstach" />
    </root>
</configuration>